body {
  font-family: sans-serif;
}

.map-wrap {
  position: relative;
}

#map {
  width: 100%;
}

#markers div {
  position: absolute;
  font-weight: bold;
  cursor: pointer;
  color: red;
}

.selected {
  background: yellow;
}

#preview {
  width: 200px;
}