body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  padding: 10px;
}

#canvasContainer {
  position: relative;
  width: 100%;
}

#drawingImage {
  width: 100%;
  display: block;
}

#markerCanvas {
  position: absolute;
  top: 0;
  left: 0;
  touch-action: none; /* ← iPhone対策 */
}
